.main{
  width:100%;
}

.leftPanel{
  float:left;
  width: 18%;
  margin-left:1%;
  height: 100%;  
  border: 1px solid blue;
}
.middlePanel{
  float:left;
  width: 60%;
  height: 100%;  
  margin-left:1%;
  border: 1px solid green;
}
.rightPanel{
  float:left;
  width: 18%;
  margin-left:1%;
  height: 100%;  
  border: 1px solid red;
}
.title{
  background-color: ghostwhite;
  text-align: center;
}
.table{
  display:block;
  width:100%;
}
.tableHeader{
  float:left;
  padding: 3px 10px;
  border: 1px solid #999999;
  clear:both;
  background-color:lightblue;
  text-align: center;
}
.tableColumn{
  display: block;
  float:left;
  width:10%;
}
.tableCell{
  display: block;
  padding: 3px 10px;
  height:50px;
  border: 1px solid #999999;
  clear:both;
  font-size:xx-small;
}
.canister{
}
.deawer{

}
.puckInput{
  border: 1px solid darkcyan;
  margin: 1px;
}
div.puckInput puck{
  display:block;
  clear:both;
}
.puck {
  display:block;
  clear:both;
  border: 1px solid black;
  
}


#robot {
  min-height:100px;
  border: 1px solid darkcyan;
  margin: 1px;
}
#test {
  min-height:100px;
  border: 1px solid crimson;
  margin: 1px;
}
#log {
  min-height:100px;
  border: 1px solid crimson;
  margin: 1px;

